apiVersion: apps/v1
kind: Deployment
metadata:
  name: green-deploy
  namespace: gacns          # 리소스가 생성될 네임스페이스
spec:
  replicas: 2
  # [추가됨] 롤링 업데이트 전략 설정
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%        # 업데이트 중 최대로 추가될 수 있는 파드 비율
      maxUnavailable: 25%  # 업데이트 중 사용할 수 없는 파드 비율
  selector:
    matchLabels:
      app: green
  template:
    metadata:
      labels:
        app: green
    spec:
      serviceAccountName: jang
      containers:
        - name: green-deploy
          # CI(Github Actions)가 이 라인을 찾아 최신 태그로 교체합니다.
          image: 640107381732.dkr.ecr.ap-northeast-2.amazonaws.com/gac-app:v1.0.0
          ports:
            - containerPort: 8080
