# pod.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: green-deploy      # 디플로이먼트의 고유 이름
  namespace: gacns          # 리소스가 생성될 네임스페이스
spec:
  replicas: 2             # 유지할 포드(Pod)의 개수
  selector:
    matchLabels:
      app: green          # 이 라벨을 가진 포드들을 관리함
  template:
    metadata:
      labels:
        app: green        # 생성될 포드에 부여할 라벨
    spec:
      serviceAccountName: jang # 포드가 사용할 권한 계정
      containers:
        - name: green-deploy
          # AWS ECR에 저장된 이미지 경로 및 태그(v1.0.0)
          image: 640107381732.dkr.ecr.ap-northeast-2.amazonaws.com/gac-app:v1.0.0
          ports:
            - containerPort: 8080 # 컨테이너가 사용하는 포트
